<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RaptorBackground.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <RaptorBackground.Properties.Settings>
            <setting name="fctbConOutForeColour" serializeAs="String">
                <value>CornflowerBlue</value>
            </setting>
            <setting name="fctbBackgroundColour" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="frmMainTransparencyKey" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="frmMainBackColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="frmMainControlBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmMainForeColour" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="frmMainBorderType" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="frmMainX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="frmMainY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="frmMainCx" serializeAs="String">
                <value>647</value>
            </setting>
            <setting name="frmMainCy" serializeAs="String">
                <value>357</value>
            </setting>
            <setting name="frmMainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="lblAllowedForeColour" serializeAs="String">
                <value>LawnGreen</value>
            </setting>
            <setting name="lblRestrictedForeColour" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="lblCriminalForeColour" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="PanelTopBackColour" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="PanelTopTextForeColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="tbInputBoxActive" serializeAs="String">
                <value>LightSteelBlue</value>
            </setting>
            <setting name="UserUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value />
            </setting>
        </RaptorBackground.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRaptorAPI" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ccs-labs.com:801/RaptorAPI.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRaptorAPI" contract="RaptorService.IRaptorAPI"
                name="BasicHttpBinding_IRaptorAPI" />
        </client>
    </system.serviceModel>
</configuration>